{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "User Research" %}
{% set pageDescription = "User research guidance for NHS teams" %}
{% set pageSection = "Research guide" %}
{% set landingPage = true %}
{% set hideContact = "true" %}

{% block bodyContent %}

  <p>Placeholder - content to be added

  <div class="app-index-navigation app-u-hide-desktop">
    {% include "includes/_side-nav.njk" %}
  </div>

{% endblock %}
