{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Artificial intelligence policy and guidance" %}
{% set pageSection = "Artificial intelligence" %}
{% set pageUrl = "/artificial-intelligence/ai-policy-and-guidance" %}
{% set hideDescription = true %}
{% set hideContact = "true" %}

{% block beforeContent %}
  {% include "artificial-intelligence/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <section>
    <h2>Introduction</h2>
    <p>Artificial Intelligence (AI) is reshaping research design, offering new ways to analyse data, prototype, test ideas, learn and streamline workflows.</p>
    <p>The UCD AI hub combines User-centred design policy and guidance for Artificial Intelligence usage at NHS England.</p>
    <p>This policy applies to ALL user-centred design staff (permanent, contractor, agency or Scheme of Work) who work on any NHS services.</p>
    <p>This resource is continually evolving. Some topics have limited information, but this will expand as more teams use AI tools and share what they learn.</p>
    <p>This guidance explains how to responsibly use AI, supporting teams to:</p>
    <ul>
      <li>Gain and maintain AI literacy.</li>
      <li>Foster creativity and innovation.</li>
      <li>Improve efficiency without sacrificing principles.</li>
      <li>Ensure ethical, safe, and inclusive outcomes.</li>
      <li>Adhere to user-centred design standards.</li>
    </ul>
  </section>

  <section>
    <h3>Scope of this guidance does not cover:</h3>
    <ul>
      <li>How to choose, design, or implement AI tools as part of a service to serve the end user.</li>
      <li>Production code development (see <a href="https://nhs.sharepoint.com/sites/X26_EngineeringCOE/SitePages/AI-Coding-Assistants---User-Guide.aspx" target="_blank">AI (dev tools) User Guide</a>).</li>
      <li>Agentic AI use for user research.</li>
      <li>How to use AI as a tool for wider design practice, e.g. service design, or creation of design artefacts.</li>
    </ul>
  </section>

  <section>
    <h2>Key definitions</h2>
    <p>To help you better understand this guidance, please review these key definitions, which are taken from the <a href="https://nhsx.github.io/ai-dictionary" target="_blank"><u>NHS AI Dictionary</u></a> and the <a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government" target="_blank"><u>AI Playbook for the UK Government.</u></a></p>
    <p><strong>Artificial Intelligence:</strong> the use of digital technology to create systems capable of performing tasks commonly thought to require human intelligence.</p>
    <p><strong>Generative artificial intelligence:</strong></p>
    <ul>
      <li>A subset of AI capable of generating text, images, video or other forms of output by using probabilistic models trained across various domains.</li>
      <li>Generative AI learns from large amounts of specially curated training data to discern and replicate complex patterns and structures.</li>
      <li>The output of generative AI models mimics the characteristics learned from the training data, enabling a range of novel applications; these include personalised content generation, advanced analysis and evaluation, and aiding creative processes.</li>
    </ul>
    <p><strong>Agentic artificial intelligence:</strong> autonomous AI systems that can make decisions and perform actions with minimal human intervention. These agents are capable of understanding their environment, identifying the set of tools and functions at their disposal, and using those to take actions to achieve their objectives.</p>
    <p><strong>Large language model (LLM):</strong> a neural network that is trained on a vast amount of text. The training uses unlabelled text and some form of self-supervised learning.</p>
  </section>

  <section>
    <h2>Principles when using AI</h2>
    <p>Whenever you use AI, it is essential to:</p>
    <ul>
      <li><strong>Comply</strong> with policy and guidance, including NHS England user-centred design best practices, principles, and standards. Using AI in your design practice must comply with and not contradict the following standards and principles.</li>
      <li><strong>Learn</strong> continuously. Develop skills in using AI, for example by learning <u>prompt strategies</u> and understanding its limitations.</li>
      <li><strong>Document</strong> how and where AI was used in the research and design process transparently.</li>
      <li><strong>Enhance</strong>, not replace, human processes; you remain accountable for all outputs generated by AI. AI cannot take responsibility for decisions or outcomes.</li>
      <li>Apply <strong>human</strong> judgement, empathy, and contextual awareness. Do not rely on AI for key human tasks, such as interviewing users or making recommendations.</li>
      <li><strong>Verify</strong>. Always fact-check and sense-check outputs before use, for example AI-generated outputs for inclusion, bias, and suitability.</li>
      <li><strong>Measure</strong> costs, including environmental impact. AI tools generally consume more energy than traditional methods. (See: <a href="https://www.unep.org/news-and-stories/story/ai-has-environmental-problem-heres-what-world-can-do-about" target="_blank"><u>unep.org/news-and-stories/story/ai-has-environmental-problem-heres-what-world-can-do-about</u></a>).</li>
      <li><strong>Evidence</strong> is a key part of the user-centred design process. Use real primary user data and verifiable secondary sources. Avoid AI-generated data from unknown sources.</li>
      <li><strong>Share.</strong> Be transparent about AI usage and always document all AI usage in the design process to ensure transparency. Share best practice openly and generously with peers to build collective knowledge.</li>
    </ul>
  </section>

  <section>
    <h2>Risks of AI use</h2>
    <p>Using AI for user research or design raises several possible risks and issues:</p>
    <ul>
      <li><strong>Lack of explainability:</strong> AI outputs can be difficult to interpret, reducing the credibility of our work. For example, code generated by an AI tool may work, but contain vulnerabilities.</li>
      <li><strong>Lack of transparency:</strong> we often cannot verify what data the AI was trained on, how its algorithm works, how it reached its conclusions, and if this happened based on the data we fed it in our query.</li>
      <li><strong>Risk of inaccurate information:</strong> AI may provide false or misleading outputs (known as “hallucinations”), and it can be hard to assess their reliability. Generative AI models predict and generate content by determining the most likely subsequent pattern based on previous training. They are very good at generating plausible predictions that look correct but may not actually be correct.</li>
      <li><strong>Bias and inappropriate content:</strong> AI is known to reflect or amplify biases present in training data, leading to outputs that may be discriminatory, offensive, or not inclusive. AI may not always follow accessibility and inclusion best practices, even if trained, or prompted, to do so.</li>
      <li><strong>Potential disconnect from reality:</strong> If analysis is done primarily by AI, you may not develop deep familiarity with the data. This makes it harder to interpret findings accurately, articulate meaningful recommendations, and present them convincingly to stakeholders. As UCD professionals, full understanding of the underlying data is an essential part of our work.</li>
      <li><strong>High financial cost:</strong> Procuring, building, and maintaining AI tools can be expensive.</li>
      <li><strong>Environmental impact:</strong> Generative AI consumes significant energy and resources. When making the decision to use AI, we should consider whether the envisioned benefits of AI justify this impact. Always use AI purposefully rather than casually.</li>
      <li><strong>Confidential or personal data exposure:</strong> Entering sensitive data into AI tools can result in data breaches, violating NHS Data Protection Policy and legislation.</li>
      <li><strong>Use of non-approved tools:</strong> Non-approved tools may process, store, or use data in ways that are not secure or compliant. They may lack necessary guardrails, increasing risk of data loss, privacy breaches, or legal issues. Do not input sensitive data into or use outputs from unknown sources.</li>
      <li><strong>Legal/compliance risks:</strong> Generative AI models may be trained on unlicensed content generating copyright risks for NHSE.</li>
      <li><strong>Skills gap and deterioration when reliant on AI tools:</strong> Without proper training, staff may misuse AI tools, increasing risk of poor outcomes, laziness or data breaches. Also, UCD skills may be lost through lack of practice.</li>
    </ul>
  </section>

  <section>
    <h2>Benefits of AI use</h2>
    <p>Using AI for research and design can offer several advantages when applied responsibly:</p>
    <ul>
      <li><strong>Saving time:</strong> AI can automate repetitive tasks, freeing colleagues to focus on high-value activities (i.e., sharing findings, influencing decisions, and advocating for recommendations with stakeholders) so that our work has maximum impact.</li>
      <li><strong>Reducing human error:</strong> AI can help minimise manual mistakes by checking consistency in coding and flagging anomalies.</li>
      <li><strong>Improving clarity and consistency in write-ups:</strong> AI can assist with proofreading, correcting grammatical errors, and ensuring consistent tone and terminology across reports and presentations.</li>
      <li><strong>Scaling analysis:</strong> AI can process large volumes of qualitative or quantitative data quickly, making it easier to have a draft overview of potential outputs in complex projects or tight timelines.</li>
      <li><strong>Generating new ideas:</strong> AI can support brainstorming and critical thinking during analysis by suggesting alternative perspectives, highlighting patterns, and surfacing connections that might not be immediately obvious.</li>
    </ul>
  </section>
{% endblock %}