{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Get involved sharing good practice" %}
{% set pageSection = "Artificial intelligence" %}
{% set pageUrl = "/artificial-intelligence/get-involved-sharing-good-practice" %}
{% set hideDescription = true %}
{% set hideContact = "true" %}

{% block beforeContent %}
  {% include "artificial-intelligence/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <section>
    <h2>Sharing learnings from your use of AI</h2>
    <p>This is a very rapidly changing field. We therefore can only learn from each other if we share our positive and negative experiences of using AI for user research.</p>
  </section>

  <section id="join-ai-related-slack-channels">
    <h3>Join AI-related Slack channels</h3>
    <p><strong>NHS England Slack - relevant channels:</strong></p>
    <ul>
      <li><a href="https://nhsdigitalcorporate.enterprise.slack.com/archives/C069GK7T0SE" target="_blank">#ai-updates-and-data-news</a></li>
      <li><a href="https://nhsdigitalcorporate.enterprise.slack.com/archives/C09PZUZLWFL" target="_blank">#ai-for-design-practice</a></li>
      <li><a href="https://nhsdigitalcorporate.enterprise.slack.com/archives/C09Q87EMW5V" target="_blank">#ai_learning</a></li>
      <li><a href="https://nhsdigitalcorporate.enterprise.slack.com/archives/C07D7TN04EQ" target="_blank">#ai-content-ops</a></li>
      <li><a href="https://nhsdigitalcorporate.enterprise.slack.com/archives/C09D5HYQ7CK" target="_blank">#dpsp-ai-interest-group</a></li>
      <li><a href="https://nhsdigitalcorporate.enterprise.slack.com/archives/C067D0JVC8Y" target="_blank">#ethics_support</a></li>
    </ul>

    <p><strong>X-Gov Slack - relevant channels:</strong></p>
    <ul>
      <li><a href="https://ukgovernmentdigital.slack.com/archives/C9MG6MKHB" target="_blank">#AI</a></li>
      <li><a href="https://ukgovernmentdigital.slack.com/archives/C08BLLQS0JH" target="_blank">#ai-ucd</a></li>
      <li><a href="https://ukgovernmentdigital.slack.com/archives/C05LS5M6AVD" target="_blank">#ai-for-designers</a></li>
      <li><a href="https://ukgovernmentdigital.slack.com/archives/C071PV0FVRR" target="_blank">#ai-and-sustainability</a></li>
      <li><a href="https://ukgovernmentdigital.slack.com/archives/C0A99V2KWNM" target="_blank">#ucd-and-ai-meetups</a></li>
      <li><a href="https://ukgovernmentdigital.slack.com/archives/C01GA5EHVEU" target="_blank">#PowerPlatform</a></li>
    </ul>
  </section>

  <section>
    <h3>Present to the community</h3>
    <p>You can present at wider meetings such as NHSE UCD <a href="../ucd/join-the-ucd-community.html">community meet ups</a>.</p>
  </section>

  <section>
    <h4>AI working group for URs</h4>
    <ul>
      <li>We meet every two weeks – Thursday 4pm. Contact UCD Ops team or Vikki Wooding to be added to the invite. Review changes to AI policy, as well manage the UCD AI backlog.</li>
    </ul>
  </section>

  <section>
    <h4>AI prompt library</h4>
    <p>To support transparency and discussion, anyone can add prompts or comment to the UCD AI Prompt library:</p>
    <ul>
      <li><a href="https://nhs.sharepoint.com/sites/X26_URPG/Lists/UCD%20Prompt%20Library/AllItems.html" target="_blank"><strong>User-centred design Centre of Expertise - UCD Prompt Library - All Items</strong></a></li>
    </ul>
  </section>

  <section>
    <h4>UCD Ops AI backlog</h4>
    <p>Links to ongoing work around AI</p>
    <ul>
      <li><a href="https://nhsd-jira.digital.nhs.uk/secure/RapidBoard.jspa?rapidView=7694&projectKey=UCD&quickFilter=45863" target="_blank">Jira - AI issues in progress</a></li>
      <li><a href="https://nhsd-jira.digital.nhs.uk/secure/RapidBoard.jspa?rapidView=7694&projectKey=UCD&view=planning.nodetail&quickFilter=45863" target="_blank">Jira - Ai issues on backlog</a></li>
    </ul>
  </section>

  <section>
    <h3>Ongoing AI tool experiments</h3>
    <p>There are several people across NHSE who are currently running experiments with AI tools for user research and design purposes.
    <p>Contact UCD Ops team (by emailing <a href="mailto:ucd@nhs.net">ucd@nhs.net</a>) if you:</p>
    <ul>
      <li>Have conducted any user research-related experiments with AI tools which could be useful to include in this guidance.</li>
      <li>Are planning a user research-related experiment with AI tools and need advice on how to do it safely and in-line with this guidance.</li>
    </ul>
  </section>

  <section>
    <h3>Case Studies</h3>
    <p>Here are a few case studies that have been written.</p>
    <ul>
      <li><strong>User Research Finder -</strong> <a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government/artificial-intelligence-playbook-for-the-uk-government-html#nhs-user-research-finder" target="_blank">https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government/artificial-intelligence-playbook-for-the-uk-government-html#nhsuk-reviews-an-automated-reviews-moderator</a></li>
      <li><strong>NHS.uk website automated review moderation -</strong> <a href="https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government/artificial-intelligence-playbook-for-the-uk-government-html#nhsuk-reviews-an-automated-reviews-moderator" target="_blank">https://www.gov.uk/government/publications/ai-playbook-for-the-uk-government/artificial-intelligence-playbook-for-the-uk-government-html#nhsuk-reviews-an-automated-reviews-moderator</a></li>
    </ul>
    <p>If you are interested in producing a case-study or blog for internal or external usage contact the UCD Ops team (by emailing <a href="mailto:ucd@nhs.net">ucd@nhs.net</a>).</p>
    <p>Also check the <a href="https://digital.nhs.uk/services/ai-knowledge-repository" target="_blank">NHS AI knowledge repository</a>. Managed by NHS England AI Team. It includes helpful resources and relevant case studies.</p>
  </section>

{% endblock %}