{% extends "layouts/app-layout.njk" %}

{% set pageTitle = "Using artificial intelligence to support content design" %}
{% set pageSection = "Artificial intelligence" %}
{% set pageUrl = "/artificial-intelligence/using-ai-to-support-content-design" %}
{% set hideDescription = true %}
{% set hideContact = "true" %}

{% block beforeContent %}
  {% include "artificial-intelligence/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}
  <section>
    <p>Placeholder page - Coming soon!</p>
  </section>
{% endblock %}